.dark-theme-container {

  display: flex;
  align-items: center;
  height: 100%;
  width: 8.2rem;
  position: relative;
  right: 0rem;
  top: -3.7px;
  margin-right: 1rem;

}

img.moon,
img.sun {

  height: 100%;
}



.sun-moon-container {

  width: max-content;
}



.container-user-connexion {

  display: flex;
  justify-content: center;
  align-items: center;

}




.title-to-menu {

  font-family: 'courgette', cursive;
}

.top-main {

  margin-bottom: 3.7rem;
  z-index: 2;
  display: inline-flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  position: relative;
  height: 2.5rem;
  width: 100%;

}

.create-review-banner {

  margin-top: 0.5rem;
  background-color: rgb(36, 255, 200);
  font-family: "Kalam", sans-serif;
  border-radius: 9px;
  color: #ffffff;
  height: max-content;
  width: max-content;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;


}


.fixed-container {

  position: fixed;
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: 3.5rem;
  background-color: rgb(255, 255, 255);
}


.theme-link {

  position: relative;
  width: auto;
  transition: transform 0.5s;
}


.theme-link:hover {

  transform: scale(1.3);
  transition: transform 0.3s ease;
}

.right-buttons {

  margin-right: 0.5rem;
  display: flex;
  gap: 2.5rem
}




.buttons {


  width: 1.2rem;
  height: 1.2rem;

}

.container-right-button {

  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.container-left-button {

  display: flex;
  justify-content: flex-end;
  align-items: center;

}


.left-buttons {

  display: flex;
  gap: 2.5rem;
  margin-left: 0.5rem;
}



.header-container {

  width: 100%;



}

.header {

  max-width: 100%;
  display: flex;
  justify-content: space-between;
  top: 0;
  height: 10rem;
  margin-bottom: 0.5rem;
  background: url('../assets/paris2.jpg') center center no-repeat;
  background-size: cover;
}


.header-title {

  display: flex;
  font-family: 'Courgette';
  font-style: italic;
  font-size: clamp(1.8rem, 3vw + 1.3rem, 4rem);
  color: azure;
  margin: auto;
  text-shadow: 1px 1px white, -1px -1px #444;

}


.container-logo-title {

  width: 100%;
  display: flex;
  margin-top: 1rem;
  font-family: 'Courgette';
  flex-direction: column;
  font-size: 0.8rem;

}

.title-description {

  margin: 0;
  color: white;


}


.theme-banner {

  display: flex;
  align-items: center;

  width: 100%;

}

.theme-link {
  font-family: "Exo 2", sans-serif;
  color: #3aafad;
}



.themes {

  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 2rem;
  font-family: 'Anton', sans-serif;
  font-size: clamp(0.6rem, 1.5vw + 0.4rem, 1.6rem);
  margin: 0 0 0 4rem;
  animation: fillText 2s ease-out forwards;
  opacity: 1;

}

li.link-create-review {

  cursor: pointer;
  margin: 0.4rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  margin-left: 5rem;

}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}


a {

  color: #5f315b;
  text-decoration: none;
  text-shadow: 0 0 0.15rem grey;

}


a.culture-link:hover {

  background: linear-gradient(to right,
      rgb(194, 177, 22) 20%,
      #ffffff 30%,
      #b8af04 70%,
      rgb(225, 255, 227) 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 2s ease-in-out infinite alternate;

}



a.food-and-drink-link:hover {

  background: linear-gradient(to right,
      rgb(199, 176, 176) 50%,
      #fa0060 30%,
      #ece1e1 70%,
      #971c1c 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 1.5s ease-in-out infinite alternate;

}


a.loisir-link:hover {

  background: linear-gradient(to right,
      rgb(170, 199, 211) 20%,
      #002efa 30%,
      #a6cada 70%,
      rgb(63, 144, 236) 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 2s ease-in-out infinite alternate;


}

.create-link {

  font-family: "Exo 2", sans-serif;
  font-size: 1.5rem;
  color: #9271bd;
  font-weight: 700;
}

.logo-camera {

  height: 2.5rem;
  width: 2.5rem;
}


.logo {

  width: 8rem;
  height: 8rem;
}


.user-connexion {

  height: moz-fit-content;
  width: moz-fit-content;
  display: block;
  font-family: 'Courgette', cursive;
  font-weight: bolder;
  color: white;
  margin-right: 0.5rem;
  text-align: center;

}


.container-user-connexion-mobile {


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  color: white;
  font-family: 'Courgette';
  font-weight: 800;
  margin-bottom: 0.3rem;
  height: 50%;
  margin: auto 0 1rem 0;
  border-radius: 25px;
}


.container-logo-title {

  display: flex;
  margin: 0;


}

.img-logo-title {

  width: 100%;
  height: 100%;
  object-fit: cover;

}

img.user-logo {

  display: block;
  height: 2rem;
  text-align: center;
}

.msg-user-logo {

  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  font-size: 3rem;

}

.container-create-review-link:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;

}

.dark-logo-camera {
  filter: invert(100%);
}


.admin-button-link {

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(51, 218, 154);
  height: 1.8rem;
  width: max-content;
  color: rgb(255, 255, 255);
  border-radius: 35px;
  text-align: center;
  font-size: 1.4rem;
  margin-left: 10rem;
  font-weight: 400;
  font-family: 'Courgette', cursive;
  padding: 0 1rem;
  border: 2px solid transparent;
  box-shadow: 0.1rem 9px #51ad70;
  margin-bottom: 1.5rem;
  user-select: none;
  /* Empêche la sélection du texte */
}

.admin-button-link:hover {
     transform: scale(1.1);
    transition: transform 0.3s ease;
}

.admin-button-link:active {
  background-color: rgb(43, 238, 163);
  box-shadow: 0.2rem 5px #51ad70;
  transform: translateY(4px);
}

.admin-link {
   background-color: #ffffff;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(212, 208, 216, 0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

@keyframes crescendo {

  /*   0%   {transform: scale(.8);} */
  100% {
    transform: scale(0.7);
  }
}




@media screen and (max-width:391px) {

  .container-logo-title {

    display: flex;
    align-items: flex-start;
    font-size: clamp(0.5rem, 0.6rem, 0.8rem);
    margin-left: 0.8rem;

  }

  .title-description {

    margin-left: 0.2rem;
    width: 50%;
    color: #c6d3cf;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 0.5rem;
  }



}

@media screen and (max-width:300px) {

  body {
    width: 100vw;
  }

  .create-review-banner {
    font-size: 0.8rem;

  }


  .search-button {
    margin-right: 1rem;
  }

  .moon-button {


    margin-left: 1rem;
  }

  .container-logo-title {
    width: 100vw;
  }

  footer.Footer {

    width: 100vw;
  }

  .social-img {

    width: max-content;
  }

  .mail {

    font-size: 0.7rem;
    margin-right: 2rem;
  }

  .mention-legale {

    font-size: 0.5rem;
  }

  .social-network {

    width: max-content;
  }

  img.card-image {

    width: 100vw;
  }
}

;



@media screen and (max-width: 1300px) {

  ul.themes {
    display: flex;
    align-items: center;
    font-size: 1rem;
  }

}

;