.dark-theme-container {

  display: flex;
  align-items: center;
  height: 100%;
  width: 8.2rem;
  position: relative;
  right: 0rem;
  top: -3.7px;
 
}

img.moon,
img.sun {

  height: 100%;
}



.sun-moon-container {

  width: max-content;
}



.container-user-connexion {

  display: flex;
  justify-content: center;
  align-items: center;

}



.title-to-menu {

  font-family: 'courgette', cursive;
}

.top-main {

  margin-bottom: 3.7rem;
  z-index: 1;
  display: inline-flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  position: relative;
  height: 2.5rem;
  width: 100%;

}

.create-review-banner {

  background-color: rgb(137, 120, 148);
  font-family: "Kalam", sans-serif;
  border-radius: 15px;
  color: #ffffff;
  height: max-content;
  width: max-content;
  font-size: 1.2rem;
  text-shadow: 7px 7px 3px rgba(015, 0, 0, 0.3);

}


.fixed-container {

  position: fixed;
  height: 2rem;
  align-items: center;
  width: 100%;
  background-color: #f0f0f0;
  height: 3.5rem;
}


li {

  position: relative;
  width: auto;
  transition: transform 0.5s;
}


li:hover {

  transform: scale(1.2);
}

.right-buttons {

  margin-right: 0.5rem;
  display: flex;
  gap: 2.5rem
}




.buttons {


  width: 1.2rem;
  height: 1.2rem;

}

.container-right-button {

  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.container-left-button {

  display: flex;
  justify-content: flex-end;
  align-items: center;

}


.left-buttons {

  display: flex;
  gap: 2.5rem;
  margin-left: 0.5rem;
}



.header-container {

  width: 100%;
  display: table;
  flex-direction: column;

}

.header {

  display: flex;
  justify-content: space-between;
  top: 0;
  height: 10rem;
  margin-bottom: 0.5rem;
  background: url('../assets/paris2.jpg') center center no-repeat;
  background-size: cover;

}



.header-title {

  display: flex;
  font-family: 'Courgette';
  font-style: italic;
  font-size: clamp(1.8rem, 3vw + 1.3rem, 4rem);
  color: azure;
  margin: 0 1rem 0 0;
  text-shadow: 1px 1px white, -1px -1px #444
}


.container-logo-title {
  display: flex;
  margin-top: 1rem;
  font-family: 'Courgette';
  flex-direction: column;
  text-shadow: 1px 1px white, 4px -1px #444;
  font-size: 0.8rem;


}

.title-description {

  margin: 0;
  color: white;
  width: 100%;
  margin-left: 4.5rem;
}


.theme-banner {

  margin-top: 2rem;
  display: flex;
  align-items: center;
  position: relative;
  width:100%;
 
}

.theme-link {
 font-family: "Exo 2", sans-serif;
  color:#3aafad;
} 


.create-link {


}


ul {

  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 2rem;
  font-family: 'Anton', sans-serif;
  font-size: clamp(0.6rem, 1.5vw + 0.4rem, 1.6rem);
  margin: 0 0 0 4rem;
  animation: fillText 2s ease-out forwards;
  opacity: 1;

}

.link-create-review {
  display: flex;
  gap:0.6rem;
  align-items: center;
  margin-left: 5rem;
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}


a {

  color: #5f315b;
  text-decoration: none;
  text-shadow: 0 0 0.15rem grey;

}


a.culture-link:hover {

  background: linear-gradient(to right,
      rgb(194, 177, 22) 20%,
      #ffffff 30%,
      #b8af04 70%,
      rgb(225, 255, 227) 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 2s ease-in-out infinite alternate;

}



a.food-and-drink-link:hover {

  background: linear-gradient(to right,
      rgb(199, 176, 176) 50%,
      #fa0060 30%,
      #ece1e1 70%,
      #971c1c 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 1.5s ease-in-out infinite alternate;

}


a.loisir-link:hover {

  background: linear-gradient(to right,
      rgb(170, 199, 211) 20%,
      #002efa 30%,
      #a6cada 70%,
      rgb(63, 144, 236) 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 2s ease-in-out infinite alternate;


}

.logo-camera {
  
  height:2.5rem;
  width: 2.5rem;
}


.logo {

  width: 8rem;
  height: 8rem;
}


.user-connexion {

  height: moz-fit-content;
  width: moz-fit-content;
  display: block;
  font-family: 'Courgette', cursive;
  font-weight: bolder;
  color: white;
  margin-right: 0.5rem;
  text-align: center;

}



.container-user-connexion-mobile {

  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 55px;
  right: 5px;
  color: white;
  font-family: 'Courgette';
  font-weight: 800;
}


.container-logo-title {

  display: flex;
  align-items: center;

}

.img-logo-title {

  width: 100%;
  height: 100%;
  object-fit: cover;

}

img.user-logo {

  display: block;
  height: 2rem;
  text-align: center;
}

.msg-user-logo {


  display: flex;
  flex-direction: row;

}



@media screen and (max-width:391px) {

  .container-logo-title {
    display: flex;
    align-items: start;
    font-size: clamp(0.5rem, 0.6rem, 0.8rem);
    margin-left: 0.8rem;
  }

  .title-description {

    margin-left: 0.2rem;
    width: 50%;
    color:#c6d3cf;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 0.5rem;
  }

 

}

@media screen and (max-width:300px) {

body{
  width: 100vw;
}

.create-review-banner {
  font-size: 0.8rem;
  
}

.top-main {


  margin-bottom: 12rem;
  display: flex;
  align-items: center;
}

.search-button{
  margin-right: 1rem;
}

.moon-button {

  margin-left: 1rem;
}

.container-logo-title  {
  width: 100vw;
}

footer.Footer{

  width: 100vw;
}

.social-img {
  width: max-content;
}

.mail {
  font-size: 0.7rem;
  margin-right: 2rem;
}

.mention-legale{
  
 font-size: 0.5rem;
}

.social-network {
 
  width: max-content;
}

img.card-image {
  width: 3rem;
}


}