/* Media query pour les écrans de bureau */

@media screen and (min-width: 768px) {


  .header-title,
  .title-description {

    margin-left: 2rem;
  }


  .cards-container {
    
    display: grid;
    grid-gap: 1rem;
   grid-template-columns: repeat(auto-fit, minmax(3, 1fr));
    /* 4 => nb colonnes ; 1fr element penant 1 fraction égale de l'espace disponible. */
    
    margin: 0rem 1rem 5.5rem 2rem;
    padding-top: 4rem;

  }


  .card-image {

    max-width: 100%;

  }



  .card-container:hover {
    background: #afe2e2;


  }

  .card-container:hover::before {

    box-shadow: 0 0 30px rgba(3, 3, 3, 0.9);
    /* Modification de l'ombre lorsqu'on survole la carte */
  }



  .card-container:hover::before {
    border: 3px solid rgb(225, 225, 238);
    box-shadow: rgba(93, 12, 255, 0.25) 0px 30px 60px -12px inset, rgba(255, 255, 255, 0.3) 0px 18px 36px -18px inset;
    /* Modification de l'ombre lorsqu'on survole la carte */

  }


  .container-user-connexion-desktop {

    display: flex;
    height: 3rem;
    color: #462243;
    font-family: "Courgette";
    font-size: auto;
    font-weight: 800;
    gap: 0.5rem;
    justify-content: space-between;

  }


  .msg-user-logo {

    display: inline-flex;
  }


  button.create-review {


    right: 10rem;
    color: rgb(68, 50, 71);
    background-color: rgb(210, 203, 218);
    border-radius: 0 0 10px 10px;
    width: auto;
    height: auto;
    margin-bottom: 5rem;
    font-size: 1.4rem;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0px 4px 8px rgba(14, 2, 19, 0.5);
    outline: none;

  }

  button.create-review-after-scrollY {

    position: fixed;
    height: 2rem;
    background-color: rgb(210, 203, 218);
    color: rgb(122, 109, 128);
    z-index: 1;
    right: -4.2rem;
    top: 8rem;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 0 0 15px 15px;
    vertical-align: top;
    font-size: 1.5rem;
    transform: rotate(7deg);
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -moz-transform: rotate(90deg);
    /* Firefox */
    -webkit-transform: rotate(90deg);
    /* Safari and Chrome */
    -o-transform: rotate(90deg);
    /* Opera */


  }


}

/*wide screen */
@media screen and (min-width: 1920px) {

  .cards-container {



    grid-template-columns: repeat(6, 1fr);
    /* 4 => nb colonnes ; 1fr element penant 1 fraction égale de l'espace disponible. */



  }

}