.card-container {
  margin: auto;
  display: flex;
  
  flex-direction: column;
  background: rgb(255, 255, 255);
  border-radius: 9px;
  width: 90%;
  height: 29rem;
  border-radius: 2%;
  margin-bottom: 1rem;
  box-shadow: inset 0 8px 15px 1px #2b2531;
}

.card-review {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
}

img.card-image {
  border-radius: 10px 10px 10px 10px;
  object-fit: cover;
  height: 25vh;
  position: relative;
  justify-content: center;
  width: 99%;
  transition: height 2.2s ease;

}

.card-container:hover .card-theme {
 transform: rotateY(30deg) translate3d(-50px, 50px, 0) scale(1.5);
  transition: transform 1.7s ease;
}

.card-container:hover .place-name {
  transform:  scale(1.1) translateX(1rem);
  transition: transform 1.7s ease;
}



.card-container:hover .card-image {
  height: 30vh;
 
}



.card-details {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  color: rgb(35, 26, 46);
  margin: 0.5rem 0 0 0.7rem;
  height: 100%;
  width: 90%;
}

.header-card-info {
  display: flex;
  justify-content: space-between;
}

.card-theme {
  height: max-content;
  writing-mode: vertical-rl;
  /* Cette valeur affiche le texte de haut en bas */
  font-family: 'courgette', sans-serif;
  font-size: 1.8rem;
  margin: 0 0 1.5rem 0;
  position: absolute;
  top: 0.4rem;
  left: 0.5rem;
  color: #3aafad;
  justify-content: flex-end;
  text-shadow:
    1px 0px 1px #440461,
    0px 1px 1px #c9bdbd,
    2px 1px 1px #cccccc,
    1px 2px 1px #eeeeee,
    3px 2px 1px #cccccc,
    2px 3px 1px #c7b8e0,
    4px 3px 1px #22c0ae,
    3px 4px 1px #695670,
    5px 4px 1px #cccccc,
    5px 6px 1px #eeeeee,
    7px 6px 1px #cccccc;
}

.card-info {
  padding-left: 0.3rem;
  margin-bottom: 1rem;
  color: rgb(0, 0, 0);
  font-family: 'Courgette', cursive;
}

.place-name {
  font-size: clamp(1rem, 1.3rem, 1.6rem);
  margin-right: 0.3rem;
  font-weight: lighter;
  color: #5a5163;
}

.arrondissement {
  font-size: 1.4rem;
  font-weight: 200;
  font-style: italic;
  margin: 0;
  color: rgb(128, 128, 128);
}

.dark-mode-class {
  background-color: rgb(42, 25, 58);
}

.dark-card-info {
  color: aliceblue;
  font-family: 'Courgette', cursive;
}

.dark-arrondissement {
  color: aliceblue;
}

.dark-mode-class:hover .detail {
  color: rgb(0, 2, 3);
}

.favorite-icon {
  justify-content: flex-start;
  margin-top: 1rem;
  mask: url('../../public/heart.svg') no-repeat center;
  height: 1rem;
  background-image: #0003b3;
}

.favorited-icon {
  z-index: 2;
  background: url('../../public/heart_link.svg') no-repeat center;
  fill: rgb(206, 175, 192);
  width: max-content;
  height: max-content;
  max-width: 2.8rem;
  max-height: 2.8rem;
}

.favorited-icon :hover {
  transform: scale(1.2);
  transition: transform 2s ease-in;
  cursor: pointer;
}

.svg-icon {
  color: #c41c1c;
  width: 3rem;
  height: 3rem;
  transform: scale(0.9);
  transition:
    color 1s,
    transform 0.2s;
}

.svg-icon:hover {
  color: rgb(211, 22, 22);
  -webkit-mask: url('../../public/heart_link.svg') no-repeat center;
  mask: url('../../public/heart_link.svg') no-repeat center;
  transform: scale(1.8);
  transition:
    color 1s,
    transform 0s ease-in;
  cursor: pointer;
}

.container-icon {
  border: 1px solid black;
}

/*gestion dynamique des couleurs pour le theme */

/*:root {
  --color-culture:;
  --color-loisir: ;
  --color-food-drink: 
}*/

@media screen and (max-width: 500px) {
  .card-container {
    margin-right: 0.6rem;
    height: max-content;
  }
}
