.card-container {

  margin: auto;
  display: flex;
  flex-direction: column;

background: rgb(255,255,255);

  border-radius: 9px;
  width: 90%;
  height :max-content;
  border-radius: 2%;
  margin-bottom: 1rem;
  min-height: 24rem;
  
}


.card-review {

  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;

}

img.card-image {

  border-radius: 10px 10px 10px 10px;
  object-fit: cover;
  width: 140rem;
  height: 20vh;
  position: relative;
  justify-content: center;

}

.card-details {

  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  display: flex;
  color: white;
  margin: 0.5rem 0 0 0.7rem;
  

}


.card-theme {
  
  height: max-content;
  writing-mode: vertical-rl; /* Cette valeur affiche le texte de haut en bas */
  font-family: "Exo 2", sans-serif;
  font-size: 1.8rem;
  margin:0 0 1.5rem 0;
  position: absolute;
  top:0.4rem;
  left:-1.8rem;
  color:#3aafad;
  justify-content: flex-end;

}


.card-info {
  
  padding-left:0.3rem;
  margin-bottom: 1rem;
  color:rgb(0, 0, 0);
}

.place-name {

  font-size: 1.6rem;
  margin-right:0.3rem;
  font-weight: lighter;
  font-family:Georgia, 'Times New Roman', Times, serif;
 
}

.arrondissement {
 
  font-size: 1.4rem;
  font-weight: 200;
  font-style: italic;
  margin: 0;
  color:rgb(128, 128, 128);
  
}



/*gestion dynamique des couleurs pour le theme */

/*:root {
  --color-culture:;
  --color-loisir: ;
  --color-food-drink: 
}*/

@media screen and (max-width : 500px){

.card-container{

  margin-right: 0.6rem;
}
}