/*reset config*/
body {
    width: 100vw;
    height:100%;
    margin:0;
    padding:0;
}


.user-connexion {
  position:absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height:auto;
  width: 10rem;
  right: 150px;
}

.msg-user-logo {
  margin:0;
  font-family: "Courgette";
   color:#5f315b;
}



.title-to-menu {

  font-family: 'courgette', cursive;
}

.top-main {


  z-index: 1;
  display: inline-flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  position: relative;
  height: 2.5rem;
  width: 100%;

}

.create-review-button {
display: block;
  position:absolute;
  background-color: rgb(137, 120, 148);
  font-family: "Kalam", sans-serif;
  border-radius: 0 0 15px 15px;
  color: #ffffff;
  height: 2rem;
  width: auto;
  font-size: 1.2rem;
  text-shadow: 7px 7px 3px rgba(015, 0, 0, 0.3);
  right:9rem;
  top:10.5rem;
}


.fixed-container {

  position: fixed;
  height: 2rem;
  align-items: center;
  width: 100%;
  background-color: #f0f0f0;
  height: 3.5rem;
}


li {

  position: relative;
  width: auto;
  transition: transform 0.5s;
}


li:hover {

  transform: scale(1.2);
}













.header-container {

  width: 100%;
  display: table;
  flex-direction: column;

}

.header {

  display: flex;
  justify-content: space-between;
  top: 0;
  height: 7.5rem;
  margin-bottom: 0.5rem;
  background: url('../../assets/paris.jpg') center center no-repeat;
  background-size: cover;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}



.header-title {

  display: flex;
  font-family: 'Courgette';
  font-style: italic;
  font-size: clamp(1.8rem, 3vw + 1.3rem, 4rem);
  color: azure;
  margin-right: 1rem;
  margin-bottom: 3.5rem;
  ;
  padding: 1rem;
  text-shadow: 1px 1px white, -1px -1px #444
}



.theme-banner {

  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}





ul {

  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 2rem;
  font-family: 'Anton', sans-serif;
  font-size: clamp(0.6rem, 1.5vw + 0.4rem, 1.6rem);
  margin: 0 0 0 4rem;
  animation: fillText 2s ease-out forwards;
  opacity: 1;

}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}



a {

  color: #5f315b;
  text-decoration: none;
  text-shadow: 0 0 0.15rem grey;

}




.logo {

  width: 8rem;
  height: 8rem;
}








.container-logo-title {

  display: flex;
  align-items: center;

}

.img-logo-title {

  width: 100%;
  height: 100%;
  object-fit: cover;

}

img.user-logo {

  display: block;
  height: 2rem;
  text-align: center;
}

.msg-user-logo {


  display: flex;
  flex-direction: row;

}